:root {
      --default-color : white;
      --primary-color : #ddab38;
}



html, body {
      margin: 0;
      padding: 0;
      width: 100%;

}

body.custom-body {
      font-weight: lighter;
      font-family: 'Dosis', sans-serif;
      background: linear-gradient(109.6deg, rgb(4, 5, 5) 11.2%, rgb(7, 8, 9) 51.2%, rgb(10, 9, 9) 98.6%);
}

header {
      width: 100%;
      height: 100vh;
      background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
      background-size: cover;
}


.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

.logo-img {
    max-width: 75px;
    opacity: 80%;
}

nav {

      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      font-family: 'Roboto', sans-serif;
}

nav.black ul {
      background: none;
}

nav ul li {
      display: inline-block;
      padding: 15px 30px;
}

nav ul li a {
      text-decoration: none;
      color: var(--primary-color);
      font-size: 20px;
      font-weight: normal;
}

nav ul li a:hover {
    color: antiquewhite;
    transition: all 100ms ease-in-out;
    text-decoration: none;

}

nav ul li.active a{
      color: antiquewhite;
      transition: all 100ms ease-in-out;
      text-decoration:overline;
}

nav ul li a.nav-link.dropdown-toggle {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: normal;
}

a.nav-link.dropdown-toggle:hover {
      color: antiquewhite;
      transition: all 100ms ease-in-out;
      text-decoration: none;
}
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}


.container h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    text-align: center;
}

div.submit {
    text-align: center;
}

div.submit button {
    background-color: var(--primary-color);
    color: var(--default-color);
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

div.submit button:hover {
    background-color: #ff8c00;
    color: black;
    transition: all 100ms ease-in-out;
}



h4.mt-4.text-center {
    color: var(--primary-color);
    font-weight: 200;
}


p {
      color: #a9a394;
      text-align: center;
      font-family: 'Ubuntu Condensed', sans-serif;
      font-weight: 200;
      line-height: 1.5;
      font-size: 1em;
}

p a {
      color: #a9a394;
      text-decoration: none;
}

p a:hover {
      color: var(--primary-color);
      text-decoration: none;
      transition: all 100ms ease-in-out;
}

p.text-center.mt-3 {
      color: #334046;

}

.social-media a {
    margin: 0 20px;
    color: #a9a394;
    background: var(--secondary-color);
    font-size: 18px;
    padding: 10px 14px;
    border-radius: 50%;
}

.social-media a:hover {
    color: #fff;
    background: var(--primary-color);
    transition: all 100ms ease-in-out;
}


@media only screen and (max-width: 900px) {

          .logo {
            display: none;
    }



      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: black;
      }

      .showing {
            max-height: 400px;
            padding: 5px;
      }

      .showing li {
        padding: 3px;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 15px;
            text-align: center;
      }

      div.menu-icon {
            display: block;
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            cursor: pointer;
            color: antiquewhite;
            padding: 5px;
            background-color: transparent;

      }

}