.menu-item{
  color: #9d7d34;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  font-style: initial;
  display: block; /* Change the display to block to allow centering */
  margin: 0 auto; /* Auto margin horizontally centers the block element */
  width: fit-content; /* Adjust width to fit the content */
  font-family: 'Lobster', sans-serif;
}

.menu-text {
  color:#ddab38;
  font-size: 30px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  font-family:'Dosis', sans-serif;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
}

:root {
  --default-color : white;
  --primary-color : #ddab38;
}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;

}

body.custom-body {
  font-weight: lighter;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.logo-img {
max-width: 75px;
opacity: 80%;
}

nav {

  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
  font-family: 'Roboto', sans-serif;
}

nav.black ul {
  background: none;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: normal;
}

nav ul li a:hover {
color: antiquewhite;
transition: all 100ms ease-in-out;
text-decoration: none;

}

nav ul li.active a{
  color: antiquewhite;
  transition: all 100ms ease-in-out;
  text-decoration:overline;
}

nav ul li a.nav-link.dropdown-toggle {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: normal;
}

a.nav-link.dropdown-toggle:hover {
  color: antiquewhite;
  transition: all 100ms ease-in-out;
  text-decoration: none;
}

.dropdown-menu.show {
        background-color: rgb(12, 11, 10);
        padding: 0;
}

a.dropdown-item {
    color: #987b3c;
    padding: 3px 0px;
    font-family: 'Roboto', sans-serif;
}

a.dropdown-item:hover {
    color: #caa852;
    transition: all 100ms ease-in-out;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}


div.container {
  background-color: #4d4646;
  border: 2px solid #f2de4b;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div.container ul{
  list-style-type: none;
  padding: 0;

}

div.container ul li {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  line-height: 2;
}

footer {
    background-color: #000;
    padding: 20px 0;
}


h4.mt-4.text-center {
    color: var(--primary-color);
    font-weight: 200;
}


p {
      color: #a9a394;
      text-align: center;
      font-family: 'Ubuntu Condensed', sans-serif;
      font-weight: 200;
      line-height: 1.5;
      font-size: 1em;
}

p a {
      color: #a9a394;
      text-decoration: none;
}

p a:hover {
      color: var(--primary-color);
      text-decoration: none;
      transition: all 100ms ease-in-out;
}

p.text-center.mt-3 {
      color: #a9a394;

}

.social-media a {
    margin: 0 20px;
    color: #a9a394;
    background: var(--secondary-color);
    font-size: 18px;
    padding: 10px 14px;
    border-radius: 50%;
}

.social-media a:hover {
    color: #fff;
    background: var(--primary-color);
    transition: all 100ms ease-in-out;
}

div.container {
  margin-bottom: 150px;
}


@media only screen and (max-width: 900px) {

      .logo {
            display: none;
    }



      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background:rgba(255, 255, 255, 0.8);
      }

      .showing {
            max-height: 400px;
            padding: 5px;
      }

      .showing li {
        padding: 3px;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 15px;
            text-align: center;
      }

      div.menu-icon {
            display: block;
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            cursor: pointer;
            color: antiquewhite;
            padding: 5px;
            background-color: transparent;

      }

      div.container {
        border-radius: 4px;
      }
}
