:root {
    --default-color : white;
    --primary-color : #ddab38;
}


body.custom-body {
      font-weight: lighter;
      font-family: 'Lobster', sans-serif;
      background: linear-gradient(109.6deg, rgb(36, 39, 26) 11.2%, rgb(27, 28, 30) 51.2%, rgb(76, 77, 48) 98.6%);
}

header {
    width: 100%;
    height: 100vh;
    background: url('../images/testing.jpeg') no-repeat 50% 50%;
    background-size: cover;
    animation: slideshow 20s infinite;
}

@keyframes slideshow {
    0%, 100% {
        background-image: url('../images/testing.jpeg');
    }
    33.33% {
        background-image: url('../images/african2.jpg');
    }
    66.66% {
        background-image: url('../images/jap1.jpeg');
    }
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

.logo-img {
    max-width: 75px;
    opacity: 80%;
}

nav {

      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      font-family: 'Roboto', sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav.black ul {
      background: none;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;
}

nav ul li a {
      text-decoration: none;
      color: var(--primary-color);
      font-size: 20px;
      font-weight: normal;
}

nav ul li a:hover {
    color: antiquewhite;
    transition: all 100ms ease-in-out;
    text-decoration: none;

}

nav ul li.active a{
      color: antiquewhite;
      transition: all 100ms ease-in-out;
      text-decoration:overline;
}

nav ul li a.nav-link.dropdown-toggle {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: normal;
}

.dropdown-menu.show {
        background-color: rgb(12, 11, 10);
        padding: 0;
}

a.dropdown-item {
    color: #987b3c;
    padding: 3px 0px;
    font-family: 'Roboto', sans-serif;
}

a.dropdown-item:hover {
    color: #caa852;
    transition: all 100ms ease-in-out;
}

a.nav-link.dropdown-toggle:hover {
      color: rgb(231, 150, 44);
      transition: all 100ms ease-in-out;
      text-decoration: none;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

h1.text-center,
h2.text-center,
h3.text-center {
      color: var(--primary-color);
}

h1.text-center {
      font-size: 3.5em;
      margin-top: 55px;
}

h2.text-center {
      font-size: 2.5em;
}

.loading-text {
   opacity: 0; /* Set initial opacity to 0 */
   animation: fadeIn 3s ease-in-out forwards; /* Use a fade-in animation with a duration of 2 seconds */
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

div.container {
      margin-top: 150px;
}



@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


h3.dangling {
  overflow: hidden; /* Hide overflowing content */
  border-right: 1px solid rgb(249, 243, 243); /* Simulate cursor */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: typing 4s steps(29) forwards; /* Adjust duration and steps as needed */
  color: #a4822a;
  font-family: 'Lobster', sans-serif;
  margin-left: 15px;
  font-weight: lighter;
  font-size: 25px;

}

.review {
  background-color: #060404;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  animation: fadeIn 4s ease-in-out forwards;
}

.review h3,
.review p,
.stars {
  animation-delay: 4s; /* Delay the animation of reviews by 3s */
}

.review h3 {
  color: #a9a394;
  margin-bottom: 10px;
}

.review p {
      line-height: 1.5;
      font-size: 20px;
      color: #a9a394;
}

.stars {
  color: gold;
}

.star {
  font-size: 24px;
}



h2.text-center.about {
      font-size: 15px;
      color: #a9a394;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


h3.text-center.about {
      color: #a9a394;
      font-size: 30px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

p.text-center.about {
      color: #ac914c;
      font-size: 30px;
      line-height: 1.5;
      font-family: 'Bitter', serif;
      font-weight: lighter;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1.heading {
        color: #a9a394;
        font-size: 35px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-decoration-line: underline;

}

div.col-md-6 ul {
        list-style-type: none;
        padding: 0;
}

div.col-md-6 ul li {
        padding: 10px;
        font-size: 20px;
        color: #ac914c;
        font-family: 'Bitter', serif;
        font-weight: 300%;
}

.button {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 150px;

}


.btn.branding {
    color: white;
    background-color: #a4822a;
    padding: 11px 21px;
    font-family: 'Bitter', serif;
    border-radius: none;
}

.btn.branding:hover {
    color: #a4822a;
    background-color: rgb(233, 233, 215);
    transition: all 0.3s ease-in-out;
}


footer {
    background-color: #000;
    padding: 20px 0;
}


h4.mt-4.text-center {
    color: var(--primary-color);
    font-weight: 200;
}


p {
      color: #a9a394;
      text-align: center;
      font-family: 'Ubuntu Condensed', sans-serif;
      font-weight: 200;
      line-height: 1.5;
      font-size: 1em;
}

p a {
      color: #a9a394;
      text-decoration: none;
}

p a:hover {
      color: var(--primary-color);
      text-decoration: none;
      transition: all 100ms ease-in-out;
}

p.text-center.mt-3 {
      color: #a9a394;

}

.social-media a {
    margin: 0 20px;
    color: #a9a394;
    background: var(--secondary-color);
    font-size: 18px;
    padding: 10px 14px;
    border-radius: 50%;
}

.social-media a:hover {
    color: #fff;
    background: var(--primary-color);
    transition: all 100ms ease-in-out;
}


@media only screen and (max-width: 900px) {

    header {
        height: 170vh;
    }


      .logo {
            float: left;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 2px;
            margin-top: 0px;
    }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background:rgba(255, 255, 255, 0.8);
      }

      .showing {
            max-height: 400px;
            padding: 5px;
      }

      .showing li {
        padding: 3px;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 15px;
            text-align: center;
      }

      div.menu-icon {
            display: block;
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            cursor: pointer;
            color: antiquewhite;
            padding: 5px;
            background-color: transparent;

      }

      h1.text-center {
            font-size: 2em;
            text-align: center !important;
      }

      h2.text-center {
            font-size: 1em;
      }

      div.container {
        margin-top: 60px;
      }

      div.review p, h3 {
        font-size: 15px;

      }

      p.text-center.about {
        font-size: 18px;
      }

      div.col-md-6 ul li {
        font-size: 15px;
      }

      h3.dangling {
        font-size: 15px;
      }
}
